[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = off

[*.{js,sh,html,xml,ftl,css,scss}]
indent_style = space
indent_size = 2

[*.{py,yaml,java,php}]
indent_style = space
indent_size = 4
